@config "../../tailwind.config.js";
@import "tailwindcss";

body {
  @apply bg-background-primary text-text-primary font-sans antialiased;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.01em;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
}